<% @recommendations[:recommendations].each do |r| %>
  <%= link_to image_tag(r['image_url']), "#", rel: 'tooltip', title: r['name'] %>
<% end %>

<div id="recommendations-container">
	<div id="recommendations">
		<div data-item-id="1" class="recommendation">1</div>
		<div data-item-id="2" class="recommendation">2</div>
		<div data-item-id="3" class="recommendation">3</div>
		<div data-item-id="4" class="recommendation">4</div>
		<div data-item-id="5" class="recommendation">5</div>
		<div data-item-id="6" class="recommendation">6</div>
	</div>
	<div id="trash">
	</div>
</div>